// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

// Colors
$color-primary: #cee3e9;
$color-secondary: #52ffa8;

$color-background-primary: #4e5d73;
$color-background-secondary: #323a49;
$color-background-tertiary: #1f2632 ; 

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 599px;