
@media (max-width: $mobile) {
    button:before {
        content: url(../../icons/pattern-divider-mobile.svg);
    }
}

@media (min-width: $tablet) {
    button::before {
        content: url(../../icons/pattern-divider-desktop.svg);
    }
}