// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-background-tertiary;
}

main {
    background-color: $color-background-secondary;
}