// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

body {
    width: 100vw;
    height: 100vh;
    background-color: $color-background-tertiary;
}

main {
    background-color: $color-background-secondary;
    width: 60rem;
    height: 30rem; 
    border-radius: 15px;
}

@media (max-width: $mobile) {
   main {
    width: 90%;
    height: 40%;
   }
}

footer {
    height: 10rem;
    width: 100%;
    margin-top: 5rem;
}